# Every ten minutes.
*/10 * * * *	~/app_monitor.sh ~/certwatch/ct_monitor/bin/ct_monitor
*/10 * * * *	~/app_monitor.sh ~/certwatch/crl_monitor/bin/crl_monitor
*/10 * * * *	~/app_monitor.sh ~/certwatch/jobs/determine_ca_trust_purposes.sh

# Every one hour.
0 * * * *	~/app_monitor.sh ~/certwatch/jobs/regular_maintenance.sh

# Every one day.
#0 3 * * *	/root/every_one_day.sh
